# Finance Notebook
Construcción de una aplicación para el manejo automatizado de un portafolio financiero.

##### Librerías

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

##### Clase Portafolio:

In [9]:
class Portfolio:

    # método de iniciación de la clase, que da ingreso de los inputs, como nombre del portfolio
    def __init__(self, inputs):
        self.inputs = inputs
        p_name = self.inputs['portfolio_name']
        print(f'Portfolio: {p_name} activo')

    # descripción de la clase
    def __repr__(self):
        return 'Aplicación de manipulación de Portfolio de activos financieros'

    # muestra lista de los ticks del portfolio (los ticks son las  'siglas' de la acción)
    def show_ticks(self):
        for i in range(len(self.inputs['ticks'])):
            tick_name = self.inputs['ticks'][i]
            print(f'{i+1} --> {tick_name}')

### Cración de Portfolio y elección de activos

In [14]:
# Portfolio formado por las 5 mejores empresas argentinas que cotizan en bolsa: https://www.cronista.com/finanzas-mercados/que-acciones-argentinas-rindieron-de-mejor-a-peor-en-2022/
# https://finance.yahoo.com/quote/COME.BA?p=COME.BA&.tsrc=fin-srch
# https://finance.yahoo.com/quote/VALO.BA?p=VALO.BA&.tsrc=fin-srch
# https://finance.yahoo.com/quote/TGSU2.BA?p=TGSU2.BA&.tsrc=fin-srch
# https://finance.yahoo.com/quote/CRES.BA?p=CRES.BA&.tsrc=fin-srch
# https://finance.yahoo.com/quote/CEPU.BA?p=CEPU.BA&.tsrc=fin-srch

ingreso = {
    'portfolio_name' : 'Accciones de MERVAL',
    'ticks' : ['^MERV', 'COME.BA', 'VALO.BA', 'TGSU2.BA', 'CRES.BA', 'CEPU.BA']
}

In [15]:
port = Portfolio(ingreso)

Portfolio: Accciones de MERVAL activo

In [16]:
port.show_ticks()

1 --> ^MERV
2 --> COME.BA
3 --> VALO.BA
4 --> TGSU2.BA
5 --> CRES.BA
6 --> CEPU.BA

### Conexión con APIs de Yahoo Finance:

In [19]:
merval = yf.Ticker('^MERV')
merval.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-10-08 00:00:00-03:00,579.400024,592.700012,579.400024,590.099976,0,0,0
1996-10-09 00:00:00-03:00,590.099976,590.799988,582.200012,583.099976,0,0,0
1996-10-10 00:00:00-03:00,583.200012,584.599976,578.299988,584.599976,0,0,0
1996-10-11 00:00:00-03:00,584.900024,585.900024,582.400024,584.299988,0,0,0
1996-10-14 00:00:00-03:00,584.299988,584.299988,580.599976,584.000000,0,0,0
...,...,...,...,...,...,...,...
2022-11-04 00:00:00-03:00,150451.000000,152899.703125,150405.203125,151263.296875,0,0,0
2022-11-07 00:00:00-03:00,151491.703125,153569.593750,147648.000000,147829.593750,0,0,0
2022-11-08 00:00:00-03:00,147829.593750,150161.203125,145978.593750,147924.000000,0,0,0
2022-11-09 00:00:00-03:00,148059.796875,148182.296875,142796.593750,143091.500000,0,0,0
2022-11-10 00:00:00-03:00,143091.500000,147722.796875,143091.500000,144879.093750,0,0,0